/* .wrap {
    height: calc(100vh - 150px);
    background-color: pink;
    display: flex;
    flex-direction: column;
} */

.top {
    height: 50px;
    background-color: rgb(222, 222, 222);
    display: flex;

}

.top .left {
    line-height: 50px;
    padding-left: 30px;
    border-left: 5px solid blue;
    min-width: 150px;
}

.top .right {
    line-height: 50px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.add_button {
    margin-left: 20px;
}

.content {
    height: calc(100vh - 200px);
    display: flex;
    flex-grow: 1;
}

.content .left {
    background: rgb(247, 247, 245);
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content .right {
    /* background-color: ; */
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}