/* .wrap{

} */

.content{
    display: flex;
    height: calc(100vh - 25vh);
    /* flex-direction: row; */
    /* justify-content: center; */
}
.right{
    padding: 20px;
    flex: 1;
    background-color: antiquewhite;
    overflow-y: auto;
}

.left{
    padding: 20px;
    flex: 1;
    background-color: rgb(145, 139, 130);
    overflow-y: auto;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: rgb(145, 139, 130); */
}
.top div{
    margin: auto 20px;
}



